manifest {
    mainScript = 'nextreo.nf'
    nextflowVersion = '>=20.00.0'
}

params{
    max_cores = Runtime.runtime.availableProcessors()
    cores = Runtime.runtime.availableProcessors().intdiv(4)
    memory = '12'
    outdir = "results"
    help = false
    profile = false
    adapters = "${projectDir}/assets/illumina_adapter.fa"
    trimming_tool = "flexbar" 
    quality = "30"
    kraken2_db = "/mmfs1/scratch/jacks.local/naveen.duhan/reference_datbases/kraken2_db"
    min_contig_length = 200
    assembler= "megahit"

    // Specify multiple BLAST databases to run (default: all)
    blast_options = ['viruses'] // Options: 'all', 'viruses', 'nt', 'nr'
    blastdb_viruses = "/mmfs1/scratch/jacks.local/naveen.duhan/reference_datbases/ncbi_dbs/nt_viruses/nt_viruses"
    blastdb_nt = "/mmfs1/scratch/jacks.local/naveen.duhan/reference_datbases/ncbi_dbs/nr/nr"
    blastdb_nr = "/mmfs1/scratch/jacks.local/naveen.duhan/reference_datbases/ncbi_dbs/nr/nr"
}



// Default configuration (applies to all profiles)
process {
    errorStrategy = 'retry'   // Retry failed jobs
    maxRetries = 3            // Number of retries
    maxForks = 10             // Limit number of parallel jobs
}

// Local profile
profiles {
    local {
        process.executor = 'local'  // Use the local executor
        executor {
            name = 'local'
            cpus = params.max_cores
        }
       includeConfig 'nextflow/configs/local.config'
    }

    slurm {
        process.executor = 'slurm'  // Use SLURM executor
        executor {
            name = 'slurm'
            queueSize = 100         // Maximum number of jobs in the queue
        }
        process {
            queue = 'gpu'       // SLURM queue/partition
            cpus = 40               // Default to 40 CPUs per job
            time = '72h'            // Default time limit of 72 hours
            memory = '250GB'
        }
        
    }
    
}
