manifest {
    mainScript = 'nextreo.nf'
    nextflowVersion = '>=20.00.0'
}

params{
    max_cores = Runtime.runtime.availableProcessors()
    cores = Runtime.runtime.availableProcessors().intdiv(4)
    memory = '12'
    outdir = "results"
    help = false
    profile = false
    adapters = "${projectDir}/assets/illumina_adapter.fa"
    trimming_tool = "flexbar" 
    quality = "30"
    kraken2_db = "${projectDir}/assets/kraken2_db"
    min_contig_length = 200
    assembler= "megahit"
}

process {
    withLabel: 'megahit_assembly' {
        cpus = 10
        memory = '16 GB'
    }
}


// Default configuration (applies to all profiles)
process {
    errorStrategy = 'retry'   // Retry failed jobs
    maxRetries = 3            // Number of retries
    maxForks = 10             // Limit number of parallel jobs
}

// Local profile
profiles {
    local {
        process.executor = 'local'  // Use the local executor
        executor {
            name = 'local'
            cpus = params.max_cores
        }
       includeConfig 'nextflow/configs/local.config'
    }

    slurm {
        process.executor = 'slurm'  // Use SLURM executor
        executor {
            name = 'slurm'
            queueSize = 100         // Maximum number of jobs in the queue
        }
        process {
            queue = 'default'       // SLURM queue/partition
            clusterOptions = '''
                --partition=compute
                --time=01:00:00
                --ntasks=1
                --cpus-per-task=4
                --mem=16GB
            '''
        }
    }
}
