process.executor = 'local'

process {

    withLabel: fastqc                           {         cpus = 8;  } 
    withLabel: trimming                         {         cpus = 10;  }
    withLabel: kraken2                          {         cpus = 40; }
    withLabel: assembly                         {         cpus = 20;  }  
    withLabel: blast                            {         cpus = 40;  }

}