process.executor = 'slurm'

process {

    withLabel: fastqc                           {         cpus = 8;  } 
    withLabel: trimming                         {         cpus = 40;  }
    withLabel: kraken2                          {         cpus = 40; }
    withLabel: assembly                         {         cpus = 40;  }  
    withLabel: blast                            {         cpus = 40; }  
    withLabel: snippy                           {         cpus = 10; }  

}